*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px gray;
    box-shadow: 2px 2px 35px;
    padding: 12px 28px;
    color: black;
    font-weight: 700;
    font-size: larger;
    align-items: center;

}

.navbar li{ /*what does this do si*/ 
    color: black;

}

.navbar .menu, .navbar .activities{
    display: flex;
}

.navbar ul{
    list-style: none;
}

.navbar .menu a{
    margin-right: 38px;
    text-decoration: none;
    color: black;
}

.navbar .activities a{
    text-decoration: none;
    color: black;
}

.navbar a:hover{
   color: gray;
   transition: 0.3s;
}

.navbar .menu a.highlight{
    color: orange;
}

/*contents*/
html{
    font-size: 20px;
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sec-1{
    background-color: gray;
}
